body.kp {
  --column-width: 65ch;

  & .offer {
    grid-column: 4/6;
    display: flex;
    /* align-content: space-between; */
    flex-wrap: wrap;
    gap: var(--space-l) var(--space-xs);

    &>:first-child {
      flex: 0 0 calc(var(--space-xl) - var(--space-xs));
      font-size: var(--step-1);
      line-height: 1.2;
    }

    & .offer-content {
      flex: 1 1 44ch;

      & h3 {
        font-size: var(--step-1);
      }
    }

    & .offer-price {
      flex: 1 0 13ch;
      text-align: end;

      & .price {
        font-size: var(--step-1);
        line-height: 1.2;
      }

      & .duration {
        font-weight: var(--font-weight-light);
        color: var(--text-color2);
      }
    }
  }

  & .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-2xl);

    &>* {
      flex: 1 1 max(50ch, 45%);
    }

    & img {
      max-block-size: 75vh;
      object-fit: contain;
    }
  }

  & .project-meta {
    font-size: var(--step--1);
    display: flex;
    justify-content: space-between;
    margin-block-end: var(--space-xs);
  }

  & nav ul {
    display: flex;
    flex-direction: column;
    gap: var(--space-2xs);
  }

  & .title-card {
    position: relative;

    & header {
      z-index: 10;
    }


    & a.start {
      z-index: 10;
    }

    & picture {
      position: absolute;
      block-size: 100%;
      inline-size: 100%;
      z-index: 1;

      & img {
        object-fit: cover;
        block-size: 100%;
        inline-size: 100%;
        opacity: .3;
        filter: blur(6px);
      }
    }

    & h1 {
      font-size: var(--step-3);
    }
  }
}