h2.offer {
  font-family: var(--font-main);
  font-weight: var(--font-weight-bold);
  letter-spacing: normal;
  text-align: center;
  margin-top: var(--space-s);
}

p.star {
  font-size: var(--step--1);
  color: var(--text-color2);
  margin-top: .5em;
}

.slide {
  background: #2a2a2a;
  aspect-ratio: 16/9;
  padding: var(--space-m);

  --min-size: 30ch;
  display: grid;
  place-items: center;
}

.slide img {
  filter: none;
}

.list {
  list-style-type: disc;
  list-style-position: outside;
  padding-inline-start: 2ch;
}

.list>*+* {
  margin-block-start: 0.5em;
}