{% unless title %}
  {% assign title = config.defaultTitle %}
{% endunless %}


{%- assign description = description | default: config.defaultDescription  -%}
{%- assign image = image | default: config.defaultImage -%}


<!doctype html>
<html lang="{{ config.lang }}">
  <head>
      {% include 'partials/head.liquid' pwaUrl: pwaUrl %}
  </head>
  <body class="is-loading project-pwa kp">
    {% include 'partials/header.liquid' %}
    {% include 'partials/nav-kp.liquid' %}

      {{ content }}

    {% include 'partials/footer.liquid' %}
  </body>
</html>
