---
layout: layouts/kp.liquid
totop: 1
nobc: 1

permalink: /aprelevka-park/

title: КП - Апрелевка Парк
description: Разработка дизайн-проекта интерьера частного дома

---
<main class="stack">
  <section class="title-card max">
    <img src="/img/banner-ap.png" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
    <header class="centered stack">
      <h1>Дизайн-проект интерьера</h1>
      <p>Коммерческое предложение на разработку концепции и рабочей документации</p>
    </header>
    <a class="start" href="#id1">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000">
        <title>Старт</title>
        <path d="M500 50v900m0-900l300 300M500 50l-300 300" />
      </svg>
    </a>
  </section>
  <section id="id1" class="stack">
    <h2>Проект дизайна интерьера</h2>
    <p>Процесс разработки проекта разделен на четыре последовательных этапа. Такой подход обеспечивает строгий контроль сроков, бюджета и предсказуемый результат на каждом шаге проектирования.</p>
  </section>
  <section class="offer">
    <div>01</div>
    <div class="offer-content stack">
      <h3>Планировочные решения</h3>
      <p>Разрабатываем эргономику пространства с учетом ваших жизненных сценариев. Анализируем геометрию дома и предлагаем оптимальные варианты зонирования, которые обеспечивают максимальную функциональность без потери полезной площади.</p>
    </div>
    <div class="offer-price">
      <p class="price">240 000 руб</p>
      <p class="duration">4 недели</p>
    </div>
  </section>
  <section class="offer">
    <div>02</div>
    <div class="offer-content stack">
      <h3>Концепция</h3>
      <p>Определяем визуальный язык будущего интерьера. Создаем стилистические решения для каждого помещения: подбираем цветовую палитру, базовые отделочные материалы, принципиальные схемы освещения и меблировки.</p>
    </div>
    <div class="offer-price">
      <p class="price">270 000 руб</p>
      <p class="duration">6 недель</p>
    </div>
  </section>
  <section class="offer">
    <div>03</div>
    <div class="offer-content stack">
      <h3>Визуализация</h3>
      <p>Разрабатываем фотореалистичные 3D-визуализации на основе утвержденной концепции. Вы увидите точный облик интерьера с учетом реальных фактур материалов, естественного и искусственного освещения до начала строительных работ.</p>
    </div>
    <div class="offer-price">
      <p class="price">170 000 руб</p>
      <p class="duration">4 недели</p>
    </div>
  </section>
  <section class="offer">
    <div>04</div>
    <div class="offer-content stack">
      <h3>Рабочая документация</h3>
      <p>Формируем полный комплект строительных чертежей: планы демонтажа и монтажа, схемы разводки электрики и сантехники, развертки стен, ведомости отделки и узлы сложных примыканий. Детальная документация исключает ошибки строителей и незапланированные расходы на этапе реализации.</p>
    </div>
    <div class="offer-price">
      <p class="price">200 000 руб</p>
      <p class="duration">6 недель</p>
    </div>
  </section>
  <section class="offer" style="
      border-block-start: solid 2px var(--text-color2);
      padding-block-start: var(--space-m);
      grid-column: 5/6;
      align-items: center;
      margin-block-end: var(--space-xs);
  ">
    <div class="offer-content stack" style="
      flex: 10ch;
  ">
      <h3>Общая стоимость</h3>
    </div>
    <div class="offer-price">
      <p class="price">880 000 руб</p>
    </div>
  </section>
  <p style="
      font-style: italic;
      color: var(--text-color2);
      font-weight: var(--font-weight-light);
  ">Оплата производится поэтапно — перед стартом каждого следующего этапа работ. Сроки проектирования указаны без учета времени, требуемого на согласование промежуточных результатов.</p>
  <hr>
  <section class="stack">
    <h3>Дополнительные услуги</h3>
    <p>После завершения проектирования мы предлагаем услуги по управлению реализацией объекта, чтобы построенный интерьер в точности соответствовал утвержденным чертежам и визуализациям.</p>
  </section>
  <section class="offer">
    <div>05</div>
    <div class="offer-content stack">
      <h3>Авторский надзор</h3>
      <p>Осуществляем контроль за ходом строительных работ. Регулярно выезжаем на объект, проверяем соответствие процессов рабочей документации, консультируем подрядчиков и оперативно вносим корректировки в чертежи при возникновении непредвиденных ситуаций.</p>
    </div>
    <div class="offer-price">
      <p class="price">50 000 руб</p>
      <p class="duration">в месяц</p>
    </div>
  </section>
  <section class="offer">
    <div>06</div>
    <div class="offer-content stack">
      <h3>Комплектация</h3>
      <p>Управляем закупками и логистикой. Составляем детальные графики поставок под этапы строительства, ищем оптимальные предложения на рынке, контролируем качество материалов при приемке и ведем рекламационную работу.</p>
    </div>
    <div class="offer-price">
      <p class="price">10%</p>
      <p class="duration">от бюджета</p>
    </div>
  </section>
  <section id="id2">
    <h2>Примеры проектов</h2>
  </section>
  <section class="popout">
    <h3 class="project-meta">
      <span>Частный дом в Подмосковье</span>
      <span>2021</span>
    </h3>
    <div class="carousel">
      <div class="slider">

        <div class="cslide">
          <img src="/img/projects/01/01.jpg" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
        </div>
        <div class="cslide">
          <img src="/img/projects/01/02.jpg" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
        </div>
        <div class="cslide">
          <img src="/img/projects/01/03.jpg" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
        </div>
        <div class="cslide">
          <img src="/img/projects/01/04.jpg" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
        </div>
        <div class="cslide">
          <img src="/img/projects/01/05.jpg" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
        </div>
        <div class="cslide">
          <img src="/img/projects/01/06.jpg" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
        </div>

      </div>

      <div class="button_bck arrow back">
        {% include 'svg-icons/arrow.svg' %}
      </div>
      <div class="button_fwd arrow forward">
        {% include 'svg-icons/arrow.svg' %}
      </div>
      <div class="carousel-dots"></div>

    </div>
  </section>
  <section class="popout">
      <h3 class="project-meta">
      <span>Дом в Ленинградской области</span>
      <span>2020</span>
    </h3>
    <div class="carousel">
      <div class="slider">

        <div class="cslide">
          <img src="/img/projects/02/01.jpg" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
        </div>
        <div class="cslide">
          <img src="/img/projects/02/02.jpg" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
        </div>
        <div class="cslide">
          <img src="/img/projects/02/03.jpg" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
        </div>
        <div class="cslide">
          <img src="/img/projects/02/04.jpg" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
        </div>
        <div class="cslide">
          <img src="/img/projects/02/05.jpg" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
        </div>
        <div class="cslide">
          <img src="/img/projects/02/06.jpg" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
        </div>
        <div class="cslide">
          <img src="/img/projects/02/07.jpg" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
        </div>
        <div class="cslide">
          <img src="/img/projects/02/08.jpg" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
        </div>
        <div class="cslide">
          <img src="/img/projects/02/09.jpg" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
          <img src="/img/projects/02/10.jpg" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
          <img src="/img/projects/02/11.jpg" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
        </div>
              <div class="cslide">
          <img src="/img/projects/02/12.jpg" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
        </div>
      </div>

      <div class="button_bck arrow back">
        {% include 'svg-icons/arrow.svg' %}
      </div>
      <div class="button_fwd arrow forward">
        {% include 'svg-icons/arrow.svg' %}
      </div>
      <div class="carousel-dots"></div>

    </div>
  </section>
  <section class="popout">
    <h3 class="project-meta">
      <span>Современная вилла в Новой Москве</span>
      <span>2023</span>
    </h3>
    <div class="carousel">
      <div class="slider">

        <div class="cslide ar43">
          <img src="/img/projects/03/03.jpg" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
        </div>
        <div class="cslide ar43">
          <img src="/img/projects/03/01.jpg" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
        </div>
        <div class="cslide ar43">
          <img src="/img/projects/03/02.jpg" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
        </div>
        <div class="cslide ar43">
          <img src="/img/projects/03/04.jpg" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
        </div>
        <div class="cslide ar43">
          <img src="/img/projects/03/05.jpg" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
        </div>
        <div class="cslide ar43">
          <img src="/img/projects/03/06.jpg" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
        </div>
        <div class="cslide ar43">
          <img src="/img/projects/03/07.jpg" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
        </div>
        <div class="cslide ar43">
          <img src="/img/projects/03/08.jpg" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
        </div>
        <div class="cslide ar43">
          <img src="/img/projects/03/09.jpg" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
        </div>
        <div class="cslide ar43">
          <img src="/img/projects/03/10.png" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
        </div>
        <div class="cslide ar43">
          <img src="/img/projects/03/11.png" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
        </div>
        <div class="cslide ar43">
          <img src="/img/projects/03/12.png" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
        </div>
        <div class="cslide ar43">
          <img src="/img/projects/03/13.png" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
        </div>
        <div class="cslide ar43">
          <img src="/img/projects/03/14.png" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
        </div>

      </div>

      <div class="button_bck arrow back">
        {% include 'svg-icons/arrow.svg' %}
      </div>
      <div class="button_fwd arrow forward">
        {% include 'svg-icons/arrow.svg' %}
      </div>
      <div class="carousel-dots"></div>

    </div>
  </section>
  <section class="popout">
      <h3 class="project-meta">
      <span>Дом в Красной Поляне</span>
      <span>2019</span>
    </h3>
    <div class="carousel">
      <div class="slider">

        <div class="cslide ar32">
          <img src="/img/projects/04/01.jpg" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
        </div>
        <div class="cslide ar32">
          <img src="/img/projects/04/02.jpg" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
        </div>
        <div class="cslide ar32">
          <img src="/img/projects/04/03.jpg" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
        </div>
        <div class="cslide ar32">
          <img src="/img/projects/04/04.jpg" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
        </div>
        <div class="cslide ar32">
          <img src="/img/projects/04/05.jpg" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
        </div>
        <div class="cslide ar32">
          <img src="/img/projects/04/06.jpg" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
          <img src="/img/projects/04/07.jpg" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
        </div>
        <div class="cslide ar32">
          <img src="/img/projects/04/08.jpg" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
        </div>
        <div class="cslide ar32">
          <img src="/img/projects/04/09.jpg" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
        </div>
        <div class="cslide ar32">
          <img src="/img/projects/04/10.jpg" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
          <img src="/img/projects/04/11.jpg" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
        </div>
        <div class="cslide ar32">
          <img src="/img/projects/04/12.jpg" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
        </div>
        <div class="cslide ar32">
          <img src="/img/projects/04/13.jpg" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
        </div>
        <div class="cslide ar32">
          <img src="/img/projects/04/14.jpg" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
        </div>
      </div>

      <div class="button_bck arrow back">
        {% include 'svg-icons/arrow.svg' %}
      </div>
      <div class="button_fwd arrow forward">
        {% include 'svg-icons/arrow.svg' %}
      </div>
      <div class="carousel-dots"></div>

    </div>
  </section>
  <section id="id3">
    <h2>Фотографии</h2>
  </section>
  <section class="max gallery">
    <img src="/img/photo/01.jpg" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
    <img src="/img/photo/02.jpg" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
    <img src="/img/photo/03.jpg" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
    <img src="/img/photo/04.jpg" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
    <img src="/img/photo/05.jpg" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
    <img src="/img/photo/06.jpg" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
    <img src="/img/photo/07.jpg" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
    <img src="/img/photo/08.jpg" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
    <img src="/img/photo/09.jpg" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
    <img src="/img/photo/10.jpg" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
    <img src="/img/photo/11.jpg" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
    <img src="/img/photo/12.jpg" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
  </section>
</main>