---
layout: layouts/kp.liquid
totop: 1
nobc: 1

permalink: /aprelevka-park/

title: ProjectName

project-name: Name
---

<section id="id1" class="stack">
  <h2>Проект дизайна интерьера</h2>
  <p>Для вашего удобства мы разбили работу на четыре прозрачных этапа. Каждый этап логически вытекает из предыдущего, обеспечивая качественный и предсказуемый результат.</p>
</section>
<section class="offer">
  <div>01</div>
  <div class="offer-content stack">
    <h3>Планировочные решения</h3>
    <p>Создаем продуманное и эргономичное пространство, идеально адаптированное под ваши привычки и образ жизни.</p>
  </div>
  <div class="offer-price">
    <p class="price">240 000 руб</p>
    <p class="duration">4 недели</p>
  </div>
</section>
<section class="offer">
  <div>02</div>
  <div class="offer-content stack">
    <h3>Концепция</h3>
    <p>Создаем продуманное и эргономичное пространство, идеально адаптированное под ваши привычки и образ жизни.</p>
  </div>
  <div class="offer-price">
    <p class="price">270 000 руб</p>
    <p class="duration">6 недель</p>
  </div>
</section>
<section class="offer">
  <div>03</div>
  <div class="offer-content stack">
    <h3>Визуализация</h3>
    <p>Создаем продуманное и эргономичное пространство, идеально адаптированное под ваши привычки и образ жизни.</p>
  </div>
  <div class="offer-price">
    <p class="price">170 000 руб</p>
    <p class="duration">4 недели</p>
  </div>
</section>
<section class="offer">
  <div>04</div>
  <div class="offer-content stack">
    <h3>Рабочая документация</h3>
    <p>Создаем продуманное и эргономичное пространство, идеально адаптированное под ваши привычки и образ жизни.</p>
  </div>
  <div class="offer-price">
    <p class="price">200 000 руб</p>
    <p class="duration">6 недель</p>
  </div>
</section>
<section class="offer" style="
    border-block-start: solid 2px var(--text-color2);
    padding-block-start: var(--space-m);
    grid-column: 5/6;
    align-items: center;
    margin-block-end: var(--space-xs);
">
  <div class="offer-content stack" style="
    flex: 10ch;
">
    <h3>Общая стоимость</h3>
  </div>
  <div class="offer-price">
    <p class="price">880 000 руб</p>
  </div>
</section>
<p style="
    font-style: italic;
    color: var(--text-color2);
    font-weight: var(--font-weight-light);
">Оплата производится поэтапно — перед стартом каждого следующего этапа работ. Сроки проектирования указаны без учета времени, требуемого на согласование промежуточных результатов.</p>
<hr>
<section>
  <h3>Дополнительные услуги</h3>
</section>
<section class="offer">
  <div>05</div>
  <div class="offer-content stack">
    <h3>Авторский надзор</h3>
    <p>Создаем продуманное и эргономичное пространство, идеально адаптированное под ваши привычки и образ жизни.</p>
  </div>
  <div class="offer-price">
    <p class="price">50 000 руб</p>
    <p class="duration">в месяц</p>
  </div>
</section>
<section class="offer">
  <div>06</div>
  <div class="offer-content stack">
    <h3>Комплектация</h3>
    <p>Создаем продуманное и эргономичное пространство, идеально адаптированное под ваши привычки и образ жизни.</p>
  </div>
  <div class="offer-price">
    <p class="price">10%</p>
    <p class="duration">от бюджета</p>
  </div>
</section>
<section id="id2">
  <h2>Примеры проектов</h2>
</section>
<section class="feature">
  <div class="carousel">
    <div class="slider">

      <div class="cslide">
        <img src="/img/projects/01/01.jpg" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
      </div>
      <div class="cslide">
        <img src="/img/projects/01/02.jpg" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
      </div>
      <div class="cslide">
        <img src="/img/projects/01/03.jpg" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
      </div>

    </div>

    <div class="button_bck arrow back">
      {% include 'svg-icons/arrow.svg' %}
    </div>
    <div class="button_fwd arrow forward">
      {% include 'svg-icons/arrow.svg' %}
    </div>
    <div class="carousel-dots"></div>

  </div>
</section>
<section class="feature">
  <div class="carousel">
    <div class="slider">

      <div class="cslide">
        <img src="/img/projects/02/01.jpg" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
      </div>
      <div class="cslide">
        <img src="/img/projects/02/02.jpg" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
      </div>
      <div class="cslide">
        <img src="/img/projects/02/04.jpg" alt="alt" sizes="(max-width: 1200px) 95vw, 85vw">
      </div>

    </div>

    <div class="button_bck arrow back">
      {% include 'svg-icons/arrow.svg' %}
    </div>
    <div class="button_fwd arrow forward">
      {% include 'svg-icons/arrow.svg' %}
    </div>
    <div class="carousel-dots"></div>

  </div>
</section>
<section id="id3">
  <h2>Фотографии</h2>
</section>