<footer id="site-footer">
  {% if totop %}
  <a class="top" href="#">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000">
      <title>Вернуться в начало страницы</title>
      <path d="M500 50v900m0-900l300 300M500 50l-300 300" />
    </svg>
  </a>
  {% endif %}
  {% comment %} <a href="/about/">О проекте</a> {% endcomment %}
  <p>&copy; svetasveta 2026</p>
</footer>