<input
  type="checkbox"
  name="menu-toggle"
  id="menu-toggle">
<header id="site-header">
  <label for="menu-toggle" class="menu-label">
    {% include 'svg-icons/ham.svg' %}
  </label>
  <a href="/" class="logo">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000">
      <circle fill="blue" stroke="none" cx="500" cy="500" r="500"></circle>
    </svg>
    <span>света</span>
    <span>света</span>
  </a>
</header>