<nav>
  <div>
    <p>Меню</p>
    <ul>
      {% comment %} {% for room in concept %}
      <li><a href="#concept-{{forloop.index}}">{{room.name}}</a></li>
      {% endfor %} {% endcomment %}
      <li><a href="#id1">Предложение</a></li>
      <li><a href="#id2">Примеры проектов</a></li>
      <li><a href="#id3">Фотографии</a></li>
    </ul>
  </div>
</nav>